name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: ["web", "api"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: apps/${{ matrix.app }}/package-lock.json
      - name: Install
        run: npm ci
        working-directory: apps/${{ matrix.app }}
      - name: Build
        run: npm run build
        working-directory: apps/${{ matrix.app }}
